<!DOCTYPE html>
<html>
<head>
  <title>Twilio</title>
  <%= stylesheet_link_tag    "twilio/application", media: "all" %>
  <%= javascript_include_tag "twilio/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
